//variables 
$font-family-grape: 'Grape Nuts', cursive;
$font-family-josefin: 'Josefin Sans', sans-serif;
$colorNegro: #000;
$colorRojo: #f9004d;
$colorBlanco: #fff;
$colorGris: rgba(197, 192, 197, 0.8);
$colorOscuro: #191919; 
$colorGrisRosado: #fcfc;
$colorNegroClaro: rgb(49, 48, 48);
$colorNegroClaro2: #191919;