* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/image/fondo5.jpg");
  background-size: cover;
  background-position: center; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%; }
  .navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px; }
    .navbar ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 20px; }
      .navbar ul li a:hover {
        color: #f9004d;
        transition: .4s; }

.logo {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer; }

.span-portfolio {
  color: #f9004d; }

.contenido {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%); }

.h1-nombre {
  color: #fff;
  margin: 20px 0px 20px;
  font-size: 75px; }

.h4-hola {
  color: rgba(197, 192, 197, 0.8);
  letter-spacing: 2px;
  font-size: 20px; }

.h3-presenta {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px; }
