.hero {
    height: 100vh;
    width: 100%;
    background-image: url('/assets/image/fondo5.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    ul{
        li{
            list-style-type: none;
            display: inline-block;
            padding: 10px 25px;
            a{
                color: $colorBlanco;
                text-decoration: none;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 20px;
                &:hover{
                    color: $colorRojo;
                    transition: .4s;
                }
            }
            &:hover {
                .sub-menu {
                    margin-top: 10px;
                    visibility: visible;
                    transition: 1.5s;
                }
            }
        }
    }
}

.sub-menu{
    position: absolute;
    visibility: hidden;
    background: transparent;
    border: 1px solid $colorRojo;
    
    
}


.logo {
    color: $colorBlanco;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.span-portfolio{
    color: $colorRojo;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.h1-nombre{
    color: $colorBlanco;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.h4-hola{
    color: $colorGris;
    letter-spacing: 2px;
    font-size: 20px;
}

.h3-presenta{
    color: $colorBlanco;
    font-size: 25px;
    margin-bottom: 50px;
}

.acerca-de-mi{
    
    width: 100%;
    padding: 0px 0px;
    
    background: {
        color: $colorNegro;
    }
    img{
        height: auto;
        width: 450px;
    }
    .acerca-de-texto{
        width: 550px;
        h2{
            margin-top: 40px;
            color: $colorBlanco;
            font-size: 75px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        h5{
            color: $colorBlanco;
            font-size: 22px;
            margin-bottom: 25px;
            text-transform: capitalize;
        }
        p{
            color: $colorGrisRosado;
            letter-spacing: 1px;
            line-height: 28px;
            font-size: 18px;
            margin-bottom: 45px;
        }
    }
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-redondeado {
    border: 5px solid $colorBlanco;
    border-radius: 500px;
}

.mis-proyectos{
    background: $colorNegroClaro;
    width: 100%;
    padding: 100px 0px;
}

.titulo-mis-proyectos{
    h2{
        color: $colorBlanco;
        font-size: 75px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
    }
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.tarjeta {
    height: 450px;
    width: 450px;
    padding: 20px 35px;
    background: $colorNegroClaro2;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.h5-proyecto{
    color: $colorBlanco;
    font-size: 23px;
    margin-bottom: 15px;   
}

.texto-mis-proyectos{
    color: $colorGrisRosado;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.imagen-proyecto{
    margin: 15px 0px;
}